@import url("https://fonts.googleapis.com/css?family=Satisfy");
@import url("https://fonts.googleapis.com/css2?family=Barlow");
body {
  max-width: 1920px;
  width: 100%;
}
.firsat {
  font-family: "Satisfy";
  color: #fdc913;
  font-size: 2rem;
  margin-top: 70px;
  margin-bottom: 0;
}
h2 {
  font-family: "Barlow";
}
.main-container {
  background-color: #faf7f2;
  padding-bottom: 140px;
}
.menu-bar {
  background-color: white;
  gap: 100px;
}
.menu-bar,
.below-menu-bar {
  max-width: 1920px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
}
.food-name {
  margin-top: 15px;
  font-size: 1.3em;
}

.menu-bar-category,
.below-menu-bar-category {
  display: flex;
  flex-direction: row;
  gap: 10px;
  cursor: pointer;
}

.card-container {
  width: 1300px;
  height: 600px;
  display: flex;
  flex-direction: row;
  column-gap: 1.5rem;
  margin: 120px auto 0 auto;
}
.big-card {
  width: 636px;
  height: 536px;
  border: none;
  border-radius: 15px;
}
.big-paragraph {
  font-family: Quattrocento;
  font-size: 70px;
  color: white;
  font-weight: 700;
  line-height: 70px;
  padding: 40px 40px 0 40px;
}
.small-paragraph {
  color: white;
  font-family: Barlow;
  font-size: 20px;
  font-weight: 900;
  padding: 0 40px 0 40px;
  line-height: 30px;
}
.small-cards {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.small-card {
  height: 257px;
  width: 636px;
  border: none;
  border-radius: 15px;
}
.small-card1-p {
  color: white;
  font-family: Barlow;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  padding: 40px 40px 0;
}
.small-card2-p {
  color: #292929;
  font-family: Barlow;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  padding: 40px 40px 0;
}

.order-button {
  color: #ce2829;
  background-color: white;
  text-align: center;
  font-family: Barlow;
  font-size: 14px;
  font-weight: 600;
  padding: 14px 25px;
  margin: 10px 40px 70px;
  border: none;
  border-radius: 50px;
}

.paketlenen {
  text-align: center;
  font-family: "Satisfy";
  font-size: 2rem;
  color: #ce2829;
  margin: 120px auto 0 auto;
}
.aciktiran {
  font-family: "Barlow";
  text-align: center;
  font-size: 2.5rem;
  font-weight: 900;
}
.below-menu-bar {
  gap: 20px;
}
.below-menu-bar-category {
  background-color: white;
  border: none;
  padding: 10px 35px;
  border-radius: 50px;
}
.pizza {
  background-color: #292929;
  color: white;
}
.foods-div {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 10px auto;
  width: 1298px;
  height: 441px;
}
.food-card {
  width: 418px;
  height: 441px;
  background-color: white;
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}
.food-card img {
  align-items: center;
  padding: 30px 60px 10px;
}
.below-food-name,
.rate-comment-price {
  font-family: "Barlow";
  color: #292929;
  margin-left: 30px;
}
.below-food-name {
  font-size: 1.5rem;
  font-weight: 600;
}

.rate-comment-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.15rem;
  margin-right: 30px;
}
@media screen and (max-width: 1630px) {
  .menu-bar {
    gap: 10px;
    padding: 5px;
  }
}
@media screen and (max-width: 1338px) {
  .card-container {
    max-width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 120px auto 0 auto;
  }
  .paketlenen {
    margin-top: 400px;
  }
  .aciktiran {
    margin-top: 30px;
  }

  .below-menu-bar {
    flex-direction: column;
    justify-content: center;
    width: 200px;
    gap: 10px;
    padding: 0;
    margin: 100px auto;
  }
  .foods-div {
    flex-direction: column;
    gap: 1rem;
    margin: 10px auto;
    height: 1298px;
    width: 441px;
  }
}
