@import url("https://fonts.googleapis.com/css?family=Satisfy");
@import url("https://fonts.googleapis.com/css2?family=Barlow");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue");
@import url("https://fonts.googleapis.com/css2?family=Londrina+Solid");

.siparis-container {
  background-color: #ce2829;
  max-width: 1920px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: "Barlow";
}

.title {
  font-family: "Londrina Solid";
  font-size: 50px;
}

.subtitle {
  font-family: "Satisfy";
  color: #fdc913;
  font-size: 32px;
  margin-top: 50px;
}

.siparis-title {
  font-family: "Bebas Neue";
  font-size: 86px;
  line-height: 92px;
  margin-bottom: 20px;
  font-weight: 100;
  letter-spacing: 1.5px;
}

.customer-name {
  font-family: "Barlow";
  font-size: 20px;
  font-weight: 500px;
}
.customer-name-span,
.order-note {
  color: white;
  font-weight: 900;
}

.pizza-name {
  font-family: "Barlow";
  font-weight: 600;
  font-size: 22px;
  line-height: 29.44px;
}

.order-details,
.order-summary {
  width: 250px;
  margin-top: 100px;
  font-size: 20px;
}
.order-summary {
  margin: 120px auto 200px;
  width: 350px;
  height: 200px;
  border: 1px solid white;
  border-radius: 10px;
  padding: 40px 50px 80px;
}
.siparis-cost {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.order-details h3,
.order-summary h4 {
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: 900;
}

.order-details p,
.order-summary p {
  margin: 5px 0;
  color: white;
}
.order-summary span {
  color: white;
  font-weight: 900;
}

.order-data {
  font-weight: 700;
  color: white;
}
