@import url("https://fonts.googleapis.com/css2?family=Barlow");

.header-div {
  background-color: #c20608;
  max-width: 1920px;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  height: 100px;
}

.logo {
  padding-top: 25px;
  margin: auto;
}

.heading-path {
  max-width: 1920px;
  width: 100%;
  background-color: #faf7f2;
  padding-bottom: 10px;
}
.banner-div {
  max-width: 1920px;
  width: 100%;

  background-color: #faf7f2;
}
.banner-container {
  width: 600px;
  height: 300px;
  margin: auto;
}

.heading-p {
  font-family: "Barlow";
  color: #5f5f5f;
  padding-top: 25px;
  margin-left: 35%;
}
.homePage {
  color: #5f5f5f;
  text-decoration: none;
  cursor: pointer;
  margin: auto;
}
strong {
  color: #ce2829;
  margin: auto;
}
.main-bg {
  background-color: #faf7f2;
  max-width: 1920px;
  width: 100%;
}
.main-detail,
.main-container-lower {
  font-family: "Barlow";
  width: 581px;
  margin: auto;
}
.main-detail {
  padding-bottom: 15px;
}

.main-container-lower {
  padding-top: 25px;
}

h3 {
  text-align: start;
  padding-top: 40px;
}
.price {
  font-size: 2rem;
  font-weight: 900;
  width: 60%;
}
.digital-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.rating {
  color: #5f5f5f;
  width: 30%;
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
  justify-content: space-between;
}
p {
  color: #5f5f5f;
}
